.navbar-custom {
    background-color: #f8f9fa !important;
    border-bottom: 2px solid var(--orange) !important;
    border-radius: 10px !important;
  }

  .navbar-brand-custom {
    font-weight: bold !important;
    color: var(--orange) !important;
  }

  .navbar-nav-custom .nav-link {
    color: #5bc0de !important;
    font-weight: bold !important;
  }

  .navbar-nav-custom .nav-link:hover {
    color: #0275d8 !important;
  }